<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
              <h1 class='mb-4'>Blog Articles</h1>
              <a href='/article/new' class='btn btn-success'>New Article</a>
              </div>

                <% articles.forEach((article) => { %>
                  <div class='col-md-12'>
                    <div class='card mt-4'>
                        <div class="card-body">
                          <h4 class='card-title'> <%=article.title%> </h4>
                          <div class='card-subtitle text-muted mb-2'>
                              <%= article.createdAt.toLocaleDateString() %>
                          </div>
                          <div class='card-text mb-2'>
                            <%= article.description%>
                          </div>
                          <a href='article/<%= article.slug %>' class='btn btn-primary'>Read More </a>
                          <form class='d-inline' action='/article/<%= article.id %>?_method=DELETE' method='post' ><button type='submit' class='btn btn-danger'>Delete</button></form>
                        </div>
                    </div>
                  </div>
                <% }) %>
        </div>
    </div>
  </body>
</html>
